certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
flatbuffers==25.12.19
idna==3.18
numpy==2.5.2
onnxruntime==1.28.0
packaging==26.3
pathvalidate==3.3.1
piper-tts==1.6.0
protobuf==7.35.1
pycparser==3.0
requests==2.34.2
srt==3.5.3
tqdm==4.70.0
urllib3==2.7.0
websockets==17.0.1
